{# templates/Advert/index.html.twig #}

<div id="content">
    <h1>Contact Us</h1>

    <form action=" " method="post" autocomplete="on">
        <p>
            <label for="userfirstname" class="icon-user"> First Name
                <span class="required">*</span>
            </label>
            <input type="text" name="userfirstname" id="userfirstname" required="required" placeholder="Your First Name" />
        </p>
        <p>
            <label for="userLastname" class="icon-user"> Last Name
                <span class="required">*</span>
            </label>
            <input type="text" name="userLastname" id="userLastname" required="required" placeholder="Your Last Name" />
        </p>
        <p>
            <label for="usermail" class="icon-envelope"> E-mail address
                <span class="required">*</span>
            </label>
            <input type="email" name="usermail" id="usermail" placeholder="Your Email" required="required" />
        </p>

        <div class="form-group">
            <label for="Department">
                Department</label>
            <span class="required">*</span>
            <br>
            <select id="subject" name="subject" class="form-control" required="required">
                <option value="Direction  ">Direction</option>
                <option value="RH">RH</option>
                <option value="Dev">DEV</option>
                <option value="COM">COM</option>
            </select>
        </div>

        <p>
            <label for="message" class="icon-comment"> Message
                <span class="required">*</span>
            </label>
            <textarea placeholder="Your message here and I'll answer as soon as possible " required="required"></textarea>
        </p>

        <p class="indication">Fields with
            <span class="required"> * </span>are required</p>

        <input type="submit" value=" Send this Message ! " />

    </form>
</div>